<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.alarm.dao.AlarmDao">
<select id="selectUnReadSchedule" resultType="int">
 <![CDATA[
SELECT COUNT(a.alarm_idx)
FROM alarm a 
WHERE a.alarm_read like 'N' AND a.emp_idx like #{param1} and a.alarm_type=101 AND TIMESTAMPDIFF(MINUTE, NOW(),a.alarm_datetime)<=30
]]>
</select>

<select id="selectEmployees" resultType="String">
SELECT emp_idx 
FROM employee
WHERE emp_quit like 'N'
</select>

<update id="deleteAlarm">
update alarm set alarm_read = 'Y'
where alarm_idx = #{param1}
</update>

<update id="deleteAll">
update alarm set alarm_read = 'Y'
where emp_idx = #{param1}
</update>

<select id="selectUnReadAlarmList" resultType="AlarmDto">
SELECT a.alarm_idx, a.alarm_subject , a.alarm_content , a.alarm_datetime, a.url
FROM alarm a 
WHERE a.alarm_read like 'N' AND a.emp_idx like #{param1}
</select>
</mapper>