<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.employee.dao.EmpProfileDao">

<insert id="addevent" parameterType="EmpProrileDto">
insert into schedule(
	emp_idx
	, sch_start_date
	, sch_end_date
	, sch_content
	, sch_subject
	, sch_start_time 
	, sch_end_time 
	, sch_type 
	, reg_by
	
	)
	values(
	#{emp_idx}
	, #{event_start_date}
	, #{event_end_date}
	, #{calendar_event_description}
	, #{calendar_event_name}
	, #{event_start_time}
	, #{event_end_time}
	, #{schedule_type}
	, #{emp_idx}
	
	)
</insert>

<insert id="addalarmevent" parameterType="EmpProrileDto">
	insert into alarm(
	emp_idx
	, alarm_subject
	, alarm_content
	, alarm_datetime
	, url
	, alarm_type
	)
	values(
	#{emp_idx}
	, #{alarm_subject}
	, #{alarm_content}
	, SUBTIME((concat(#{event_end_date},' ', #{event_end_time},':00')), '00:30:00')
	, IFNULL(#{url}, '0')
	, 101
	)
</insert>

<select id="profilecalendar" resultType="Map" parameterType="String">
	select * from schedule where emp_idx = #{empIdx}
</select>

<insert id="attendance" parameterType="EmpProrileDto">
	insert into schedule(
	emp_idx
	, sch_start_date
	, sch_end_date
	, sch_content
	, sch_subject
	, sch_start_time
	, sch_end_time 
	, sch_type 
	, reg_by
	)
	values(
	#{emp_idx}
	, curdate()
	, null
	, '출퇴근'
	, '출퇴근'
	, curtime()
	, null
	, 12
	, #{emp_idx}
	)
</insert>

<update id="leavework">
update schedule set sch_end_date=curdate(), sch_end_time= curtime(), sch_type='13', reg_by=#{emp_idx}
where sch_idx in (SELECT sch_idx FROM schedule WHERE sch_subject = '출퇴근' AND DATE(sch_start_date) = CURDATE() and emp_idx = #{emp_idx})
</update>

<!-- <insert id="leavework" parameterType="EmpProrileDto">
	insert into schedule(
	emp_idx
	, sch_start_date
	, sch_end_date
	, sch_content
	, sch_subject
	, sch_start_time 
	, sch_end_time 
	, sch_type 
	, reg_by
	)
	values(
	#{emp_idx}
	, #{event_start_date}
	, #{event_start_date}
	, '퇴근'
	, '퇴근'
	, #{event_start_time}
	, #{event_start_time}
	, 13
	, #{emp_idx}
	)
</insert> -->

<select id="scheduleinfo" resultType="Map" parameterType="String">
select * from schedule s where sch_idx = #{param1}
</select>

<delete id="employeDel">
	DELETE FROM schedule WHERE sch_idx = #{param1}
</delete>

<delete id="scheduleDel">
	DELETE FROM schedule WHERE sch_idx = #{param1}
</delete>

<select id="attCheck" resultType="Integer">
SELECT COUNT(*) FROM schedule WHERE sch_subject ='출퇴근' AND DATE(sch_start_date) = CURDATE() and emp_idx = #{emp_idx}
</select>

<select id="levCheck" resultType="Integer">
SELECT COUNT(*) FROM schedule WHERE sch_content = '퇴근' AND DATE(sch_start_date) = CURDATE() and emp_idx = #{emp_idx}
</select>

<select id="homeProfileDetail" resultType="EmpProrileDto">
select emp_idx, e.emp_name, d.dept_name, e.emp_ext_no, c.common_type, e.emp_join_date, e.emp_phone, e.emp_email, e.emp_roadAddr, e.emp_detailAddr 
from employee e 
inner join department d
on d.dept_id = e.dept_id
inner join common c 
on c.common_idx = e.`position`
where e.emp_idx = #{param1}
</select>

<select id="selectEmpUpdateData">
	SELECT e.emp_idx, e.emp_phone, e.emp_zipcode, e.emp_roadAddr, e.emp_detailAddr, e.emp_name, e.emp_email
	FROM employee e
	WHERE e.emp_idx LIKE #{param1}
</select>

<update id="updateEmpUpdateData">
	update  employee 
	SET emp_idx = empIdx 
	, emp_phone = empPhone
	, emp_zipcode = empZipcode
	, emp_roadAddr = empRoadAddr
	, emp_detailAddr = empDetailAddr
	, emp_name = empName
</update>

<insert id="addLeaveEvent" parameterType="map">
insert into schedule(
	emp_idx
	, sch_start_date
	, sch_end_date
	, sch_content
	, sch_subject
	, sch_start_time 
	, sch_end_time 
	, sch_type 
	, reg_by
	
	)
	values(
	#{emp_idx}
	, #{event_start_date}
	, #{event_end_date}
	, #{calendar_event_description}
	, #{calendar_event_name}
	, #{event_start_time}
	, #{event_end_time}
	, #{schedule_type}
	, #{reg_emp_idx}
	
	)
</insert>

<select id="selectEmpPhoto" resultType="hashMap">
SELECT f.extension, f.new_file_name
FROM file f 
WHERE f.conn_idx = #{param1} AND f.file_type = #{param2}
</select>

<sql id="empInfoUpdate">
UPDATE employee SET
emp_email = #{empEmail},
emp_phone = #{empPhone},
emp_zipcode = #{empZipcode},
emp_roadAddr = #{empRoadAddr},
emp_detailAddr = #{empDetailAddr},
`update` = curdate(),
update_by = #{empIdx}
</sql>

<insert id="updateEmpInfo">
	<include refid="empInfoUpdate"/>
	WHERE emp_idx like #{empIdx}
</insert>

<insert id="updateEmpInfoAll">
	<include refid="empInfoUpdate"/>
	,emp_pw = #{empPw},
	emp_changepw_date = curdate() 
	WHERE emp_idx like #{empIdx}
</insert>

<select id="annualCount" resultType="Integer" parameterType="String">

 SELECT IFNULL(SUM(leave_incdec), 0) AS leave_incdec
FROM annual_leave
WHERE emp_idx = #{empIdx}


</select>
</mapper>