<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.mail.dao.maildao">
		
		
		<select id="maillist" resultType="map">
				select sm.mail_idx as mailnum , sm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
				CONCAT(e.emp_name,'(',d.dept_name ,')') as personname
				from send_mail sm left join receive_mail rm on sm.mail_idx = rm.mail_idx left join employee e on sm.emp_idx =e.emp_idx left join department d on e.dept_id = d.dept_id 
				where rm.emp_idx = #{param1} and rm.mail_del='N' order by sm.mail_create_date desc
		
		</select>
		
		<select id="searchlist" resultType="map">
				select sm.mail_idx as mailnum , sm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
				CONCAT(e.emp_name,'(',d.dept_name ,')') as personname 
				from send_mail sm 
				left join receive_mail rm on sm.mail_idx = rm.mail_idx 
				left join employee e on sm.emp_idx =e.emp_idx 
				left join department d on e.dept_id = d.dept_id 
				where (rm.emp_idx = #{param1} and sm.mail_subject LIKE CONCAT('%',#{param2},'%') and rm.mail_del='N') 
				or (rm.emp_idx = #{param1} and  e.emp_name LIKE CONCAT('%',#{param2},'%') and rm.mail_del='N')
				 order by sm.mail_create_date desc
						
		</select>
		
		<select id="outlist" resultType="map">
				select sm.mail_idx as mailnum , sm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
				CONCAT(e.emp_name,'(',d.dept_name ,')') as personname
				from send_mail sm 
				left join receive_mail rm on rm.mail_idx = sm.mail_idx 
				left join employee e on rm.emp_idx =e.emp_idx 
				left join department d on e.dept_id = d.dept_id 
				where sm.emp_idx =#{param1} and sm.mail_del='N' order by sm.mail_create_date desc
		</select>
		
		<select id="outsearchlist" resultType="map">
				select sm.mail_idx as mailnum , sm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
				CONCAT(e.emp_name,'(',d.dept_name ,')') as personname
				from receive_mail rm 
				left join send_mail sm  on rm.mail_idx = sm.mail_idx  
				left join employee e on rm.emp_idx =e.emp_idx 
				left join department d on e.dept_id = d.dept_id 
				where (sm.emp_idx =#{param1} and sm.mail_subject LIKE CONCAT('%',#{param2},'%') and sm.mail_del='N') 
				or (sm.emp_idx =#{param1} and  e.emp_name LIKE CONCAT('%',#{param2},'%') and sm.mail_del='N') order by sm.mail_create_date desc
				
		</select>
		
		<select id="dellistRM" resultType="map">
			select sm.mail_idx as mailnum , sm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
			CONCAT(e.emp_name,'(',d.dept_name ,')') as personname
			from receive_mail rm 
			left join send_mail sm  on rm.mail_idx = sm.mail_idx  
			left join employee e on sm.emp_idx =e.emp_idx 
			left join department d on e.dept_id = d.dept_id 
			where rm.emp_idx =#{param1} and rm.mail_del='Y' order by sm.mail_create_date desc
			
		</select>
		
		<select id="dellistSM" resultType="map">
			select sm.mail_idx as mailnum , rm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
			CONCAT(e.emp_name,'(',d.dept_name ,')') as personname
			from receive_mail rm 
			left join send_mail sm  on rm.mail_idx = sm.mail_idx  
			left join employee e on rm.emp_idx =e.emp_idx 
			left join department d on e.dept_id = d.dept_id 
			where sm.emp_idx =#{param1} and sm.mail_del='Y' order by sm.mail_create_date desc
		</select>
		
		<select id="delsearchRM" resultType="map">
			select sm.mail_idx as mailnum , sm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
			CONCAT(e.emp_name,'(',d.dept_name ,')') as personname
			from receive_mail rm 
			left join send_mail sm  on rm.mail_idx = sm.mail_idx  
			left join employee e on sm.emp_idx =e.emp_idx 
			left join department d on e.dept_id = d.dept_id 
			where (rm.emp_idx = #{param1} and sm.mail_subject LIKE CONCAT('%',#{param2},'%') and rm.mail_del='Y') 
				or (rm.emp_idx = #{param1} and  e.emp_name LIKE CONCAT('%',#{param2},'%') and rm.mail_del='Y') order by sm.mail_create_date desc
			
		</select>
		
		<select id="delsearchSM" resultType="map">
			select sm.mail_idx as mailnum , rm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
			CONCAT(e.emp_name,'(',d.dept_name ,')') as personname
			from receive_mail rm 
			left join send_mail sm  on rm.mail_idx = sm.mail_idx  
			left join employee e on rm.emp_idx =e.emp_idx 
			left join department d on e.dept_id = d.dept_id 
			where (sm.emp_idx =#{param1} and sm.mail_subject LIKE CONCAT('%',#{param2},'%') and sm.mail_del='Y') 
				or (sm.emp_idx =#{param1} and  e.emp_name LIKE CONCAT('%',#{param2},'%') and sm.mail_del='Y') order by sm.mail_create_date desc
		</select>
		
		<select id="detailRM" resultType="map">
			select sm.mail_idx as mailnum , rm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
			CONCAT(e.emp_name,'(',d.dept_name ,')') as personname  
			from send_mail sm 
			left join receive_mail rm  on rm.mail_idx = sm.mail_idx
			left join employee e on sm.emp_idx =e.emp_idx 
			left join department d on e.dept_id = d.dept_id where rm.emp_idx = #{param1} and sm.mail_idx = #{param2}		
		</select>
		
		<select id="detailSM" resultType="map">
			select sm.mail_idx as mailnum , rm.emp_idx as personnum, sm.mail_create_date , sm.mail_subject , sm.mail_content , rm.mail_del , rm.mail_read ,
			CONCAT(e.emp_name,'(',d.dept_name ,')') as personname  
			from receive_mail rm
			left join send_mail sm  on rm.mail_idx = sm.mail_idx
			left join employee e on rm.emp_idx =e.emp_idx 
			left join department d on e.dept_id = d.dept_id where sm.emp_idx = #{param1} and rm.mail_idx = #{param2}
		</select>
		
		<update id="updateRM">
			update receive_mail set mail_read ='Y' where mail_idx = #{param1}
		</update>
		
		<update id="delupdateRM">
			update receive_mail set mail_del ='Y' where emp_idx =#{param1} and mail_idx = #{param2}
		</update>
		
		<update id="delupdateSM">
			update send_mail set mail_del ='Y' where emp_idx =#{param1} and mail_idx = #{param2}
		</update>
		
		<insert id="saveRM" parameterType="String">
			insert into send_mail(emp_idx, mail_content,mail_subject,mail_del)value(#{param1},#{param2},#{param3},'N')
		</insert>
		
		<select id="mailidx" resultType="String">
			select mail_idx from send_mail sm where emp_idx =#{param1} and mail_subject =#{param3} and mail_del ='N' and mail_content =#{param2}
		</select>
		
		<insert id="saveSM" parameterType="String">
				insert into receive_mail (mail_idx, emp_idx, mail_del, mail_read)value(#{param1},#{param2},'N','N')
		</insert>
		
		<update id="reupdateRM">
			update receive_mail set mail_del ='N' where emp_idx =#{param1} and mail_idx = #{param2}
		</update>
		
		<update id="reupdateSM">
			update send_mail set mail_del ='N' where emp_idx =#{param1} and mail_idx = #{param2}
		</update>
		
		


</mapper>