<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.member.dao.MemberDao">

		
		<insert id="joinnum" parameterType="map">
			INSERT into members 
			( grade_idx ,member_type, name, contact_num, create_date, 
			expiry_date, brithdate, gender, postal_code, street_address, detail_address, member_state, reg_by)
			values
			(#{grade_idx},#{member_type},#{name},#{num},curdate(),DATE_ADD(NOW(), INTERVAL 1 YEAR), #{brithdate},#{gender},
			 #{ postal_code}, #{street_address}, #{detail_address},#{member_state}, 00990099)
		</insert>


		<insert id="joinbis" parameterType="map">
			INSERT into members 
			( grade_idx ,member_type, name, contact_num, create_date, 
			expiry_date, brithdate, gender, postal_code, street_address, detail_address, member_state, reg_by, business_num)
			values
			(#{grade_idx},#{member_type},#{name},#{num},curdate(),DATE_ADD(NOW(), INTERVAL 1 YEAR), #{brithdate},#{gender},
			 #{ postal_code}, #{street_address}, #{detail_address},#{member_state}, 00990099,#{business_num})
		</insert>
		
		<insert id="pointinsert" parameterType="Integer">
			insert into total_point (member_idx, total_point) values(#{param1},0)
		</insert>
		
		
		<select id="cusnum" resultType="Integer">
			SELECT member_idx FROM members m where name = #{name} and brithdate =#{brithdate} and create_date = CURDATE()
		</select>

		<select id="listall" resultType="map">
			SELECT * FROM members where member_state = #{param1}
		</select>

		<select id="detail" resultType="map">
			SELECT * FROM members m  where member_idx = #{param1}
		 </select>
		 
		 <select id="cussearch" resultType="map">
		 	SELECT * FROM members WHERE name LIKE CONCAT('%',#{param1},'%') and member_state =#{param2}
		 </select>

		<select id="update" resultType="map">
			SELECT * FROM members m  where member_idx = #{param1}
		</select>
		
		<update id="updatesave">
			UPDATE members set name =#{name}, contact_num =#{number},
			 postal_code =#{postcode}, street_address =#{address}, detail_address =#{detailaddr}
			WHERE member_idx =#{idx};
		</update>

		<update id="del">
			UPDATE members  set member_state =85 where member_idx =#{param1}
		</update>

		<update id="newdate">
			UPDATE members set create_date = curdate(),expiry_date = DATE_ADD(NOW(), INTERVAL 1 YEAR) ,member_state =84 , grade_idx = #{param2}
			WHERE member_idx =#{param1}
		</update>
		
		<select id="filefind" resultType="map">
			SELECT CONCAT(file_name,extension) as orifilname, new_file_name as newfilename FROM  file f where file_type =76 and conn_idx =#{param1}
		</select>
		
		<select id="productlistcall" resultType="map">
			select payment_id , payment_date , payment_status , actual_amount   from payments  
			where member_id =#{param1} and payments_type =92 and payment_date BETWEEN #{param2} and #{param3}
		</select>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		




</mapper>