<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.member.dao.MemberDao">

		
		<insert id="joinnum" parameterType="map">
			INSERT into members 
			( grade_idx ,member_type, name, contact_num, create_date, 
			expiry_date, brithdate, gender, postal_code, street_address, detail_address, member_state, reg_by)
			values
			(#{grade_idx},#{member_type},#{name},#{num},curdate(),DATE_ADD(NOW(), INTERVAL 1 YEAR), #{brithdate},#{gender},
			 #{ postal_code}, #{street_address}, #{detail_address},#{member_state}, 00990099)
		</insert>


		<insert id="joinbis" parameterType="map">
			INSERT into members 
			( grade_idx ,member_type, name, contact_num, create_date, 
			expiry_date, brithdate, gender, postal_code, street_address, detail_address, member_state, reg_by, business_num)
			values
			(#{grade_idx},#{member_type},#{name},#{num},curdate(),DATE_ADD(NOW(), INTERVAL 1 YEAR), #{brithdate},#{gender},
			 #{ postal_code}, #{street_address}, #{detail_address},#{member_state}, 00990099,#{business_num})
		</insert>

















</mapper>