<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.reservation.dao.reservationDao">
	<insert id="addResource">
		INSERT INTO resource (resource_name,resource_type,reg_by) VALUES (#{resourceName},#{resourceType},#{regBy})
	</insert>	
	
	<select id="resourceInfo" resultType="com.ustore.reservation.dto.reservationDto">
		SELECT resource_idx,resource_name ,resource_type FROM resource r WHERE resource_del ='N'
	</select>
	
	<update id="delResource">
		UPDATE resource SET resource_del = 'Y' , update_by = CURRENT_DATE , reg_by =#{param2} WHERE resource_idx =#{param1}
	</update>
</mapper>