<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.reservation.dao.reservationDao">
	<insert id="addResource">
		INSERT INTO resource (resource_name,resource_type,reg_by) VALUES (#{resourceName},#{resourceType},#{regBy})
	</insert>	
	
	<select id="resourceInfo" resultType="com.ustore.reservation.dto.reservationDto">
		SELECT resource_idx,resource_name ,resource_type FROM resource WHERE resource_del ='N' AND resource_type=#{param1}
	</select>
	
	<update id="delResource">
		UPDATE resource SET resource_del = 'Y' , update_by = CURRENT_DATE , reg_by =#{param2} WHERE resource_idx =#{param1}
	</update>
	
	<insert id="addBooking">
		INSERT INTO resource_booking 
		(emp_idx, resource_idx, booking_start_date, booking_end_date ,booking_start_time ,booking_end_time ,booking_content ,reg_by)
		VALUES (#{regBy},#{resourceIdx},#{day},#{day},#{startTime},#{endTime},#{text},#{regBy})
	</insert>
	
	<select id="bookingInfo" resultType="com.ustore.reservation.dto.reservationDto">
		 		SELECT rb.booking_idx,rb.emp_idx,rb.resource_idx ,rb.booking_start_date ,rb.booking_end_date ,rb.booking_start_time ,rb.booking_end_time , rb.booking_content 
		FROM resource_booking rb LEFT JOIN resource r ON rb.resource_idx = r.resource_idx WHERE r.resource_del = 'N' AND 
		#{param1} BETWEEN rb.booking_start_date AND rb.booking_end_date  AND r.resource_type=#{param3}
	</select>
	
	<select id="infoBooking" resultType="com.ustore.reservation.dto.reservationDto">
		SELECT r.resource_name,r.resource_type ,rb.booking_start_date ,rb.booking_end_date , rb.booking_start_time, rb.booking_end_time , e.emp_name , d.dept_name , e.emp_ext_no ,rb.booking_content,e.emp_idx
		FROM resource_booking rb LEFT JOIN resource r ON rb.resource_idx = r.resource_idx 
		LEFT JOIN employee e ON rb.emp_idx = e.emp_idx 
		LEFT JOIN department d ON e.dept_id = d.dept_id WHERE rb.booking_idx = #{param1}
	</select>
	
	<delete id="infoBookingDel">
		 DELETE FROM resource_booking WHERE booking_idx =#{param1}
	</delete>
</mapper>