<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.products.dao.OrderDao">


<select id="list" resultType="OrderDto">

SELECT products.*, category.category_name
FROM products
JOIN category ON products.category_id = category.category_id
order by product_id asc

</select>
<select id="checkProduct" resultType="OrderDto">
select  oc.*
FROM order_cart oc
JOIN products p ON oc.product_id = p.product_id
WHERE p.product_id=#{productId}
</select>

<select id="orderList" resultType="OrderDto">
SELECT oc.*, p.product_name, p.unit_quantity, c.category_name
FROM order_cart oc
JOIN products p ON oc.product_id = p.product_id
JOIN category c ON p.category_id = c.category_id
</select>
<select id="driveList" resultType="OrderDto">

SELECT DISTINCT delivery_driver.*
FROM delivery_driver
WHERE driver_idx NOT IN (
    SELECT driver_idx
    FROM driver_schedule
    WHERE delivery_date = #{expArrivalDate} AND delivery_check = 'Y'
);

</select>


<insert id="orderCartInsert" parameterType="OrderDto">

insert into order_cart (product_id,emp_idx,order_quantity)
values(#{productId},#{empIdx},#{orderQuantity})

</insert>

<delete id="ordercartDelete" parameterType="java.lang.String">
     DELETE  oc.*
FROM order_cart oc
JOIN products p ON oc.product_id = p.product_id
WHERE p.product_name = #{productName}
    </delete>
    
    <delete id="orderDelete">
    delete from order_cart 
    </delete>
    
    <insert id="orderInsert" parameterType="OrderDto">
    insert into `order` (emp_idx,exp_arrival_date,driver_idx) values
(#{empIdx},#{expArrivalDate},#{driverIdx})
    
    </insert>
    
    <select id="orderCartSelect" resultType="OrderDto">

select product_id from order_cart   
    
    
    
    </select>
    
    <insert id="driverSchedule" parameterType="OrderDto">
    insert into driver_schedule(driver_idx,delivery_date) values(#{driverIdx},#{expArrivalDate})
    </insert>
    
    <insert id="orderHistoryInsert" parameterType="String">
    
    INSERT INTO order_detail (order_idx, product_id, purchase_price, return_quantity, quantity, receipt_date)
VALUES (
  (SELECT MAX(order_idx) FROM `order`),   
  #{productId},                           
  (SELECT purchase_price FROM products WHERE product_id = #{productId}),  
  0,                                   
  (SELECT order_quantity FROM order_cart WHERE product_id = #{productId}),  
  (SELECT exp_arrival_date FROM `order` ORDER BY order_idx DESC LIMIT 1)   
)
    
    </insert>
    
    <select id="orderCartCheck" resultType="OrderDto">
    select * from order_cart
    </select>
    <select id="orderHistoryList" resultType="OrderDto">
    SELECT
    o.order_idx,
    o.exp_arrival_date,
    d.driver_name,
    d.car_num
FROM
    `order` o
JOIN
    delivery_driver d ON o.driver_idx = d.driver_idx
    </select>
    
    <select id="orderListModal" resultType="OrderDto">
     SELECT od.quantity, p.product_name, p.unit_quantity
FROM order_detail od
JOIN products p ON od.product_id = p.product_id
WHERE od.order_idx = #{orderIdx}
    
    </select>
    
   

</mapper>