<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.scheduler.dao.AnnualSchedulerDao">


<!-- 입사일 기준 한달로 가져오기 -->
<select id="getInitalAnnualCnt" resultType="EmpAnnualDto">
<![CDATA[
SELECT COUNT(s.sch_idx) as annual_leaves_ctn, e.emp_idx 
FROM employee e 
LEFT OUTER JOIN schedule s ON e.emp_idx = s.emp_idx 
WHERE s.sch_type IN (14, 12) 
  AND e.emp_join_date > DATE_ADD(NOW(), INTERVAL -1 YEAR)
  AND s.sch_start_date BETWEEN DATE_SUB(NOW(), INTERVAL 1 MONTH) AND NOW();
]]>  
</select>

<select id="getLongService" resultType="EmpAnnualDto">
	SELECT DISTINCT e.emp_idx, DATEDIFF(NOW(), e.emp_join_date) as length_of_Service
	FROM employee e 
	LEFT OUTER JOIN schedule s ON e.emp_idx = s.emp_idx 
	WHERE s.sch_type IN (14, 12) 
	AND DATEDIFF(NOW(), e.emp_join_date) >= 365;
</select>

<insert id="insertAnnual" parameterType="AnnualLeavesDto">
	INSERT INTO annual_leave (emp_idx, leave_type, leave_incdec, reg_by)
	VALUES(#{empIdx}, #{leaveType}, #{leaveIncdec}, #{regBy})
</insert>

</mapper>