<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.scheduler.dao.AnnualSchedulerDao">

<select id="getInitalAnnualCnt" resultType="EmpAnnualDto">
<![CDATA[
SELECT count(s.sch_idx) as annual_leaves_ctn, e.emp_idx 
FROM employee e 
LEFT OUTER JOIN schedule s 
ON e.emp_idx = s.emp_idx 
WHERE s.sch_idx in (14,12) 
AND e.`update` < DATE_ADD(e.`update`, INTERVAL 1 YEAR)
AND s.reg_date BETWEEN last_day(NOW()) and LAST_DAY(NOW() - interval 2 month) + interval 1 DAY
]]>  
</select>

<select id="getLongService" resultType="EmpAnnualDto">
	SELECT e.emp_idx, DATEDIFF(NOW(), e.reg_date) as length_of_Service
	from employee e 
	left outer join schedule s 
	on e.emp_idx = s.emp_idx 
	WHERE s.sch_idx in (14,12) 
	AND DATEDIFF(NOW(), e.reg_date) >= 365;
</select>

<insert id="insertAnnual" parameterType="AnnualLeavesDto">
	INSERT INTO annual_leave (emp_idx, leave_type, leave_incdec, reg_by)
	VALUES(#{empIdx}, #{leaveType}, #{leaveIncdec}, #{regBy})
</insert>

</mapper>