<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustore.organizationChart.dao.OrganizationChartDao">

	<select id="selectDepartments" resultType="OrganizationChartDto">
	    SELECT
	        d.dept_id AS id,
	        COALESCE(d.parent_dept_id, '#') AS parent,
	        d.dept_name AS text,
	        'department' AS type,
	        null AS dept_name,
	        null AS position,
	        null AS positionType,
	        null AS empName
	    FROM
	        department d
	    WHERE d.dept_delete LIKE 'N'
	    ORDER BY
	        COALESCE(d.parent_dept_id, '#'), d.dept_id
	</select>
	
	
	<select id="selectEmployees" resultType="OrganizationChartDto">
	    SELECT
	        e.emp_idx AS id,
	        e.dept_id AS parent,
	        CONCAT(e.emp_name, ' (', c.common_type, ')') AS text,
	        'employee' AS type,
	        d.dept_name AS deptName,
	        e.position AS position,
	        c.common_type AS positionType,
	        e.emp_name AS empName
	    FROM
	        employee e
	    JOIN
	        department d ON e.dept_id = d.dept_id
	    JOIN
	        common c ON e.position = c.common_idx
		WHERE e.emp_quit LIKE 'N'
	    ORDER BY
	        e.dept_id, e.emp_idx
	</select>
	
</mapper>